
body > header {
    padding: 0 0.5rem 0.5rem 0.5rem;
}

body {
    grid-template-columns: 1fr min(60rem, 40%) 1fr;
}

nav {
    margin: 1;
}

h3 {
    margin: 1; 
    padding: 1;
}

li{
    padding-top: 5px;
}

ul{
    padding-top: 5px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.pcpp-part-list {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    align-content: center;
    display: table;
}
